configuration{
    modi: "drun,run,filebrowser,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " All ";
    display-run: " Run ";
    display-filebrowser: " Files ";
    display-drun: " Drun ";
    sidebar-mode: true;
    dpi: 96;
}

@theme "catppuccin-mocha"
